// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-blue-nav: #0e76bc;
$color-dark-gray-main: #414042;
$color-dark-blue-bg: #0068ac;
$color-blue-input: #0e76bc;
$color-limegreen: #39b54a;

// Defaults
$big-margin-top: 7.5em;

// breakpoints
$breakpoints: (
  "large": "870px",
  "medium": "760px",
  "small": "560px",
  "smaller": "400px",
);
