body {
  position: relative;
}

.flex {
  display: flex;

  &-fd-col {
    flex-direction: column;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

.grid {
  display: grid;
}

.content-wrapper {
  width: 100%;
  margin: auto;
  max-width: 1170px;
  padding: 0 6.125em;

  @include breakpoint(large) {
    padding: 0 2em;
  }
}
